/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/mouse.h>

#define AS(keycode) &as LS(keycode) keycode
#define MO_TO(layer) &mo_to layer layer
#define BASE 0
#define MEDIA 1
#define NAV 2
#define MOUSE 3
#define SYM 4
#define NUM 5
#define FUN 6



/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    macros {
        macro_brackets: macro_brackets {
            compatible = "zmk, behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
        };
        macro_parens: macro_parens {
            compatible = "zmk, behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
        };
        macro_braces: macro_braces {
            compatible = "zmk, behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
        };
        macro_angle: macro_angle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp GT &kp LEFT>;
        };
    };

    behaviors {
        parens_shift_morph: parens_shift_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&macro_parens>, <&macro_braces>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        parens_ctrl_morph: parens_ctrl_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&parens_shift_morph>, <&macro_brackets>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        parens_alt_morph: parens_alt_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&parens_ctrl_morph>, <&macro_angle>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <175>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_ctr_backspace {
            timeout-ms = <50>;
            key-positions = <15 16>;
            layers = <BASE>;
            bindings = <&kp LC(BSPC)>;
        };
        combo_ctr_del {
            timeout-ms = <50>;
            key-positions = <25 26>;
            layers = <BASE>;
            bindings = <&kp LC(DEL)>;
        };
        combo_ctr_left {
            timeout-ms = <50>;
            key-positions = <15 16>;
            layers = <NAV>;
            bindings = <&mt HOME LC(LEFT)>;
        };
        combo_ctr_right {
            timeout-ms = <50>;
            key-positions = <17 18>;
            layers = <NAV>;
            bindings = <&mt END LC(RIGHT)>;
        };
        combo_key_repeat {
            timeout-ms = <50>;
            key-positions = <34 35>;
            layers = <BASE>;
            bindings = <&key_repeat>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  '  |  ,  |  .  |  P  |  Y  |     |  F  |  G   |  C   |  R   | L |
// |  A  |  O  |  E  |  U  |  I  |     |  D  |  H   |  T   |  N   | S | 
// |  ;  |  Q  |  J  |  K  |  X  |     |  B  |  M   |  W   |  V   | Z |
//             | GUI | LWR | SPC |     | ENT | RSE  | BSPC |
                        display-name = "Base";
                        bindings = <
   &kp SINGLE_QUOTE &kp COMMA &kp PERIOD &kp P &kp Y     &kp F   &kp G  &kp C  &kp R  &kp L
   &mt LGUI A &mt LALT O &mt LCTRL E &mt LSHIFT U &kp I             &kp D   &mt RSHIFT H  &mt RCTRL T &mt LALT N  &mt LGUI S
   &kp SEMICOLON &kp Q &kp J &kp K &kp X         &kp B   &kp M  &kp W  &kp V  &kp Z
        &lt MEDIA ESC &lt NAV SPACE &lt MOUSE TAB      &lt SYM ENTER &lt NUM BSPC &lt FUN DEL
                        >;
                };

                media_layer {
                        display-name = "Media";
                        bindings = <
   &none    &none    &none     &mo BASE   &none    &none    &none        &none        &none        &none
   &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none    &none    &none        &none        &none        &none
   &none    &none    &to FUN   &to MEDIA  &none    &none    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
                     &none     &none      &none    &none    &none        &none
                        >;
                };

                nav_layer {
                        display-name = "Navigation";
                        bindings = <
   &none    &none    &none     &to BASE   &none    &kp K_REDO &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO
   &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none    &caps_word &kp LEFT    &kp DOWN   &kp UP    &kp RIGHT
   &none    &none    &to NUM   &to NAV    &none    &kp INS    &kp HOME    &kp PG_DN  &kp PG_UP &kp END
                     &none     &none      &none    &kp ENTER  &kp BSPC    &kp DEL
                        >;
                };
                mouse_layer {
                        display-name = "Mouse";
                        bindings = <
   &none    &none    &none     &to BASE   &none    &kp K_REDO &kp K_PASTE    &kp K_COPY     &kp K_CUT    &kp K_UNDO
   &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none    &none      &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT
   &none    &none    &to SYM   &to MOUSE  &none    &none      &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT
                     &none     &none      &none    &mkp RCLK  &mkp LCLK      &mkp MCLK
                        >;
                };

                symbol_layer {
                        display-name = "Symbols";
                        bindings = <
   &kp LBRC  &kp AMPS &kp STAR  &parens_alt_morph  &kp RBRC   &none &to BASE   &none     &none    &none
   &kp QMARK &kp DLLR &kp PRCNT &kp CARET          &kp PLUS   &none &kp RSHIFT &kp RCTRL &kp LALT &kp LGUI
   &kp TILDE &kp EXCL &kp AT    &kp POUND          &kp PIPE   &none &to SYM    &to MOUSE &none    &none
                      &kp LPAR  &kp RPAR           &kp UNDER  &none &none      &none
                        >;
                };

               number_layer {
                        display-name = "Numbers";
                        bindings = <
   &kp LBKT  &kp N7 &kp N8 &kp N9 &kp RBKT  &none &to BASE   &none     &none    &none
   &kp FSLH  &kp N4 &kp N5 &kp N6 &kp EQUAL &none &kp RSHIFT &kp RCTRL &kp LALT &kp LGUI
   &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH  &none &to NUM    &to NAV   &none    &none
                       &kp DOT   &kp N0 &kp MINUS &none &none      &none
                        >;
                };

                function_layer {
                        display-name = "Function";
                        bindings = <
   &kp F12 &kp F7 &kp F8    &kp F9    &kp PSCRN         &none &to BASE   &none     &none    &none
   &kp F11 &kp F4 &kp F5    &kp F6    &kp SLCK          &none &kp RSHIFT &kp RCTRL &kp LALT &kp LGUI
   &kp F10 &kp F1 &kp F2    &kp F3    &kp PAUSE_BREAK   &none &to FUN    &to MEDIA &none    &none
                  &kp K_APP &kp SPACE &kp TAB           &none &none      &none
                        >;
                };

                mod_layer_2 {
                        display-name = "Mod2";
                        bindings = <
   &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
   &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
   &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                     &none    &none    &none    &none    &none    &none
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
